!!!
%html
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "ie=edge", "http-equiv" => "X-UA-Compatible"}/
    %title PTAKA
    %meta{content: "name", name: "author"}/
    %meta{content: "description here", name: "description"}/
    %meta{content: "keywords,here", name: "keywords"}/
    %link{href: "https://use.fontawesome.com/releases/v5.3.1/css/all.css", rel: "stylesheet"}/
    %link{href: "https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css", rel: "stylesheet"}/
    %link{href: "https://afeld.github.io/emoji-css/emoji.css", rel: "stylesheet"}/
    
  %body.bg-gray-800.font-sans.leading-normal.tracking-normal.mt-12
    = yield
